<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support Ticket Intelligence</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <div class="logo">SupportIQ</div>
</div>

<div class="main-container">
    <div class="card">
        <h1>Support Ticket Classification</h1>
        <p class="subtitle">
            Automatically analyze customer tickets and assign category & priority
        </p>

        <form method="POST">
            <label>Customer Ticket</label>
            <textarea name="ticket" placeholder="Enter support issue..." required></textarea>

            <button type="submit">Analyze Ticket</button>
        </form>
    </div>
</div>

</body>
</html>
